langgraph                 
langgraph-checkpoint      
langgraph-prebuilt        
langgraph-sdk             
langsmith                 
numpy                     
ollama                    
openpyxl                  
pandas                    
SQLAlchemy                
streamlit                 
